<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codestudioapps.learing.app">

    <!-- network permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.codestudioapps.learing.app.app.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_ad_id" />

        <activity
            android:name="com.codestudioapps.learing.app.activity.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.codestudioapps.learing.app.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />


        <activity
            android:name="com.codestudioapps.learing.app.activity.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />


        <activity
            android:name="com.codestudioapps.learing.app.activity.CustomUrlActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.codestudioapps.learing.app.activity.NotificationListActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.codestudioapps.learing.app.activity.NotificationDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.codestudioapps.learing.app.activity.ItemListActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.codestudioapps.learing.app.activity.DetailsListActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.codestudioapps.learing.app.activity.DetailsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.codestudioapps.learing.app.activity.QuizPromptActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.codestudioapps.learing.app.activity.QuizActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.codestudioapps.learing.app.activity.ScoreCardActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.codestudioapps.learing.app.activity.AboutDevActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.codestudioapps.learing.app.activity.FavoriteListActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.codestudioapps.learing.app.activity.SearchActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>


        <service android:name="com.codestudioapps.learing.app.notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

    </application>

</manifest>